body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #ccc;
}
.bank_container {
  position: absolute;
  padding: 8px 10px;
  height: 430px;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 15px #000;
}
.active {
  border: none;
  background-color: blue;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}
.bank_png {
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  filter: drop-shadow(0 0 10px #000);
}
.bank_container h1 {
  margin-top: 40px;
  text-align: center;
}
.btn_section {
  display: flex;
  justify-content: space-around;
}
.btn_section button {
  height: 30px;
  width: 30%;
  border: none;
  /* background-color: blue; */
  font-weight: bolder;
  /* color: #fff; */
  cursor: pointer;
}
.hidden {
  display: none;
}
.overflow {
  overflow: hidden;
}
.transaction_container {
  margin: 10px auto;
  height: auto;
  width: auto;
  border: 1px solid #ccc;
  backdrop-filter: blur(15px);
}
.popup_close_btn {
  display: flex;
  justify-content: end;
}

#close_btn {
  width: 32px;
  height: 26px;
  font-size: larger;
  font-weight: bolder;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.popup_content {
  height: auto;
}
.title {
  margin-top: -15px;
  text-align: center;
}
.popup_form {
  padding: 5px;
  height: 100%;
}
.popup_form input {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: larger;
  outline: none;
}
.popup_form button {
  padding: 4px 8px;
  margin: 10px 0 0;
  width: 100%;
  background-color: blue;
  color: #fff;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}
